
@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-background: #FFF7BB;
    --color-background-2: #B8E2E8;
    --color-point-1: #FFA3B5;
    --color-point-2: #6ED2C4;
    --color-point-3: #FBEB54;
    --color-black: 949494;
    --font-point: Cafe24Ssurround;
    --font-basic: S-CoreDream-3Light;
    --font-handwriting: LeeSeoyun;

}

body {
    background-image: url("/static/img/background.png");
    background-size: cover;
    /*width: 800px;*/
}

.root {
    max-width: 900px;
}

.header {
    height: 2%;
    margin: 15% 0 0 15%;
    color: var(--color-point-1);
    display: flex;
    flex-direction: column;
    /*align-items: center; !* 위아래 기준 중앙정렬 *!*/
    justify-content: center; /* 좌우 기준 중앙정렬 */
    position: relative;

}

.header h2 {
    font-family: var(--font-point);
    font-size: 3rem;
}

.bi-list {
    background-color: var(--color-background);
    position: absolute;
    left: 65vw;
}


.rollingpaper-body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 50%;
    text-align: center;
}

.menu {
    display: none;
    width: 100%;
    height: 70%;

}

.menu-list {
    display: inline-block;
    margin-top: 30%;
    border-radius: 40px;

    width: 60%;
    height: 50%;

    background-color: var(--color-point-3);
}

.menu-list > button {
    width: 300px;

    background-color: var(--color-background);
    border: 3px solid var(--color-background);
    color: var(--color-point-1);
    font-size: 2rem;
    font-weight: bold;

    border-radius: 15px;
    padding: 3%;
    margin: 3%;
}

  .swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    position: relative;
}

.cake-candle-wrapper {
    width: 500px;
}

.cake-img {
    position: absolute;
    width: 1000px;
    margin-top: 12vw;
    top: 50vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle {
    position: absolute;
    width: 50px;
    z-index: 1;
}

.swiper-slide .nickname {
    position: absolute;
    z-index: 2;
    font-family: var(--font-point);
    color: white;
    background-color: var(--color-point-1);
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.swiper-slide .candle1 {
    top: 12vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname1 {
    top: 21vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle2 {
    top: 38vw;
    left: 32vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname2 {
    top: 48vw;
    left: 32vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle3 {
    top: 38vw;
    left: 44vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname3 {
    top: 48vw;
    left: 44vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle4 {
    top: 38vw;
    left: 56vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname4 {
    top: 48vw;
    left: 56vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle5 {
    top: 38vw;
    left: 68vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname5 {
    top: 48vw;
    left: 68vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle6 {
    top: 60vw;
    left: 23vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname6 {
    top: 70vw;
    left: 23vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle7 {
    top: 60vw;
    left: 36vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname7 {
    top: 70vw;
    left: 36vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle8 {
    top: 60vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname8 {
    top: 70vw;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle9 {
    top: 60vw;
    left: 63vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname9 {
    top: 70vw;
    left: 63vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .candle10 {
    top: 60vw;
    left: 76vw;
    transform: translate(-50%, -50%);
}

.swiper-slide .nickname10 {
    top: 70vw;
    left: 76vw;
    transform: translate(-50%, -50%);
}


.swiper-pagination {
    width: 80vw;
    height: 20vh;
    margin-bottom: 16.3vh;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid pink;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 40px;
    transition: width .5s;
    border-radius: 5px;
    background: pink;
    border: 2px solid transparent;
}

.swiper-button-next {
    display: none;
    background: url(/static/img/main_angle-right.png) no-repeat;
    background-size: 50% auto;
    position: absolute;
    left: 88%;
    top: 30%;
    width: 200px;
    height: 200px;
}

.swiper-button-prev {
    display: none;
    background: url(/static/img/main_angle-left.png) no-repeat;
    background-size: 50% auto;
    position: absolute;
    right: 60%;
    top: 30%;
    width: 200px;
    height: 200px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {

    width: 300px;
    height: 80px;

    color: white;
    font-size: 2.2rem;
    font-weight: bold;

    border-radius: 10px;
    padding: 12px;
    margin: 1rem;
}

button:hover {
    border: 3px solid white;
}

.pink-button {
    border: 1px solid var(--color-point-1);
    background-color: var(--color-point-1);

}

.blue-button {
    border: 1px solid var(--color-background-2);
    background-color: var(--color-background-2);
}

.yellow-button {
    border: 1px solid var(--color-point-3);
    background-color: var(--color-point-3);
}

.message-div {
    display: none;
    width: 100%;
    height: 100%;
}

.message-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 70%;

    max-font-size: 80px;
    font-size: 2rem;

}

.message-detail {

    /*margin-top: 30px;*/
    border-radius: 40px;

    width: 60%;
    height: 80%;
    padding: 10% 5% 10% 5%;

    border: 4px solid var(--color-point-3);
    background-color: var(--color-background);
}

.message {
    /*width: 55%;*/
    height: 70%;
    margin: 10%;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */

}

.message-detail button {
    width: 200px;
    height: 80px;
    margin-right: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;

    border-radius: 10px;
    padding: 12px;
}

input {
    border: 3px solid var(--color-point-3);
    border-radius: 10px;
}

textarea {
    margin-top: 10px;
    width: 80%;
    height: 60%;
    background: transparent;
    border-radius: 10px;
    border: none;
}
