@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
            --color-background: #FFF7BB;
            --color-background-2: #B8E2E8;
            --color-point-1: #FFA3B5;
            --color-point-2: #6ED2C4;
            --color-point-3: #FBEB54;
            --color-black: #949494;
            --font-point: Cafe24Ssurround;
            --font-basic: S-CoreDream-3Light;
            --font-handwriting: LeeSeoyun;
        }

body{
    width: 375px;
    height: 667px;
    background-color: var(--color-background) !important;
}
.nav_btn {
    width: 85px;
    margin: 10px;
    font-size: 17px;
    font-family: var(--font-point);
    cursor: pointer;
}
.candle_title {
    margin: 10px;
    font-size: 20px;
    font-family: var(--font-point);
}
.candle_section {
    width: 355px;
    height: 230px;
    margin: 10px 0 10px 10px;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2) !important;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; !important;
}

/*.candle {*/
/*    width: 105px;*/
/*    height: 95px;*/
/*    object-fit: contain;*/
/*    border: gainsboro solid 2px;*/
/*    border-radius: 20px;*/
/*    padding: 10px;*/
/*    margin: 0 4px 0 4px;*/
/*}*/

.btn-outline-primary {
    width: 105px;
    height: 95px;
    object-fit: contain;
    border: gainsboro solid 2px !important;
    border-radius: 20px !important;
    padding: 10px;
    margin: 5px 4px 5px 4px !important;
    background-color: #FAF4F1 !important;
    color: black !important;
    /*배경 이미지 사이즈 조절 및 반복 제거*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
/*
.btn-outline-primary:hover {
    box-shadow: 0 0 0 0.25rem var(--color-point-1) !important;
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--color-point-1) !important;
}
*/

.msg_title {
    margin: 10px 0 10px 10px;
    font-size: 20px;
    font-family: var(--font-point);
}
.msg_section{
    width: 355px;
    height:220px;
    background-color: #FAF4F1 !important;
    border-radius: 20px;
    margin: 0 0 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.msg {
    width: 335px;
    height:200px;
    margin: 10px 0 10px 10px;
    text-align: center;
    background-color: #FAF4F1;
    font-family: var(--font-handwriting);
    border-radius: 20px;
    border: #FFA3B5 dashed 2.5px;
    border-color: var(--color-point-1);
    resize: none;
    overflow: unset;
}
.msg:focus{
    outline: none;
}

.submit_name{
    width: 173px;
    height:33px;
    margin: 0 0 10px 10px;
    font-family: var(--font-handwriting);
    text-align: center;
    border-radius: 10px;
    border: #FFA3B5;
    background-color: #FAF4F1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.submit_name:focus{
    outline: none;
}
.submit_pw{
    width: 168px;
    height:37px;
    margin: 0 0 10px 10px;
    font-family: var(--font-handwriting);
    text-align: center;
    border-radius: 10px;
    border: #FFA3B5;
    background-color: #FAF4F1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.submit_pw:focus{
    outline: none;
}
.submit_btn_section{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 37px;
    background-color: #FAF4F1;
    margin: 0 0 10px 10px;
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.submit_btn_section:hover{
    background-color: var(--color-point-1);
}
.submit_btn_section:focus{
    background-color: var(--color-point-1);
}
#submit_btn{
    width: 355px;
    height: 37px;
    border: darkblue dashed 2px;
    border-radius: 10px;
    padding: 0 !important;
    font-family: var(--font-point);
    color: var(--color-point-1);
    border: white solid 2.5px;
    border-color: var(--color-point-1);
    background-color: rgba(0, 0, 0, 0);
}
#submit_btn:focus{
    box-shadow: none;
    color: white;
    background-color: var(--color-point-1);
}
#submit_btn:hover{
    color: white;
    background-color: var(--color-point-1);
}
.testTxt{
    width: 200px;
    height: 100px;
    word-break: break-all;
}