<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{mainpage_info.user_nickname}}-얘두라 고마어어어</title>
    <meta property="og:title" content="🌈얘두라 고마어어어"/>
    <meta property="og:description" content="🎉'{{mainpage_info.user_nickname}}'님의 생일을 축하해줘💛🎁"/>
    <meta property="og:image" content="/static/img/og-img2.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>
        // 메시지 데이터
        let messageAllData;

        $(document).ready(function set() {
            $.ajax({
                type: "GET",
                url: "/rolling/detail-data/{{mainpage_info.rolling_id}}?key={{mainpage_info.url}}",
                data: {},
                success: function (response) {
                    console.log(response);

                    const mySwiper = new Swiper('.swiper-container', {
                        width: 1000,
                        slidePerView: 1, // 한 슬라이드에 보여줄 갯수
                        spaceBetween: 300,  // 슬라이드 사이 여백
                        centeredSlides: true, // 슬라이드 센터모드

                        loop: true,
                        loopAdditionalSlides: 1,

                        // effect: "fade",
                        effect: 'slide', // 기본 슬라이드 전환
                        // effect: 'cube', // 큐브 형태로 전환
                        // effect: 'coverflow', // 약간의 그림자와 함께 슬라이드를 밀어내며 전환
                        // effect: 'flip', // 카드를 뒤집듯이 전환


                        // If we need pagination
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                            type: 'bullets',
                        },


                        // Navigation arrows
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },

                        observe: true,
                        observeParents: true


                    })

                    messageAllData = response['message_list'];
                    console.log(messageAllData);
                    let msgLength = messageAllData.length
                    let pagesNumber;
                    if ((msgLength % 10) === 0 && msgLength != 0) {
                        pagesNumber = parseInt(msgLength / 10)
                    } else {
                        pagesNumber = parseInt(msgLength / 10) + 1
                    }
                    console.log(msgLength, pagesNumber)


                    for (let j = 0; j < pagesNumber; j++) {
                        let temp_html = `
                                          <div class="swiper-slide swiper-slide${j + 1}">
                                            <div class="cake-candle-wrapper cake-candle-wrapper${j + 1}">
                                                <img class="cake-img" src="/static/img/cake_{{mainpage_info.cake_id}}.png">
                                             </div>
                                          </div>
                                          `

                        $('.swiper-wrapper').append(temp_html)
                        if (pagesNumber > 1) {
                            // $('.swiper-pagination').show();
                            $('.swiper-button-next').show();
                            $('.swiper-button-prev').show();
                        }
                    }

                    for (let i = 0; i < msgLength; i++) {

                        let candlePagesNumber = parseInt(i / 10) + 1
                        let candleLocation = (i % 10) + 1
                        console.log(candlePagesNumber, candleLocation)
                        let temp_html = `<img onclick="open_message(${messageAllData[i].message_id})" class="candle candle${candleLocation}" id="candle-img" src="/static/img/candle_${messageAllData[i].candle_id}.png"/>
                        <div onclick="open_message(${messageAllData[i].message_id})" id="nickname" class="nickname nickname${candleLocation}">${messageAllData[i].nickname}</div>`
                        $(`.cake-candle-wrapper${candlePagesNumber}`).append(temp_html)
                    }
                }

            })

        })


        // 메시지 창 닫기
        function close_message() {
            $('.rollingpaper-body').click(function (e) {

                let result = e.target.getAttribute('id');
                let buttonResult = e.target.matches('button');
                let inputResult = e.target.matches('input');
                let textareaResult = e.target.matches('textarea');

                console.log(result)
                console.log(buttonResult)
                if (result != 'candle-img' && result != 'message-detail' && result != 'nickname' && !buttonResult && !inputResult && !textareaResult) {
                    $('.message-div').hide();
                    $('.swiper-container').show();
                    $('.footer').show();
                }
            })
        }

        // 메시지 수정 데이터 보내기
        function message_update_req(message_id, message_content, nickname) {
            console.log(message_id, message_content, nickname)
            $.ajax({
                type: "POST",
                url: "/rolling/message/update",
                data: {
                    'rolling_id': `{{mainpage_info.rolling_id}}`,
                    'message_id': message_id,
                    'message_content': message_content
                },
                success: function (response) {
                    alert(response['message']);
                    window.location.reload();

                }
            })
        }

        // 메시지 삭제 데이터 보내기
        function message_delete_req(message_id) {
            $.ajax({
                type: "POST",
                url: "/rolling/message/removal",
                data: {'rolling_id': `{{mainpage_info.rolling_id}}`, 'message_id': message_id},
                success: function (response) {
                    alert(response['message']);
                    window.location.reload();
                }
            })
        }

        // 메시지 수정 비밀번호 확인 및 수정 데이터 보내기
        function message_update_and_delete(message_id, password, type) {
            console.log(password);
            console.log(typeof (password));
            if (password != '') {
                $.ajax({
                    type: "POST",
                    url: "/rolling/message/check",
                    data: {
                        'rolling_id': `{{mainpage_info.rolling_id}}`,
                        'message_id': message_id,
                        'message_password': password
                    },
                    success: function (response) {
                        const success = response['success'];
                        const result = response['data'];
                        if (success && type === "update") {
                            // alert("비밀번호 일치!")
                            let temp_html =
                                ` <div class="message-box">
                                    <div id='message-detail' class="message-detail">
                                     <p style="font-family: var(--font-point)">FROM. ${result.nickname}</p>
                                     <textarea type='text'id="message-textarea" maxLength = "140" wrap = "hard" cols = "10" rows = "3" style="border:dashed 8px var(--color-point-3); margin-top: 20px; font-family: var(--font-handwriting)">${result.content}</textarea>
                                    <button onclick="message_update_req(${result.message_id}, $('#message-textarea').val(), \'${result.nickname}'\)" class="yellow-button" style="margin-top:20px">수정 완료</button>
                                    </div>
                                </div>`
                            $('.message-box').replaceWith(temp_html);

                        } else if (success && type === "delete") {

                            let temp_html =
                                ` <div class="message-box">
                                    <div id='message-detail' class="message-detail">
                                         <p style="font-family: var(--font-point)">FROM. ${result.nickname}</p>
                                         <p class="message" style="font-family: var(--font-handwriting)">${result.content}</p>
<!--                                         <p> 정말로 삭제하시겠습니까? </p>-->
                                        <button onclick="message_delete_req(${result.message_id})" class="yellow-button" style="margin-top:20px">삭제하기</button>
                                    </div>
                                </div>`
                            $('.message-box').replaceWith(temp_html);

                        } else { // success가 false일 경우
                            alert(response['message']);
                        }
                    }
                })
            } else {
                alert("비밀번호를 입력해주세요!")
            }

        }

        // 비밀번호 입력 창
        function password_check(message_id, type) {
            $('.message').hide();
            let temp_html = ` <div class="message">
                <input type='password' id="input-password" style='width:80%;height:70px;' placeholder=" 비밀번호 4자리" required/>
                <button onclick="message_update_and_delete(${message_id}, $('#input-password').val(), \'${type}'\)" class="yellow-button" style="margin-top: 20px">비밀번호 확인</button>
                </div>
                </div>`
            $('.message-detail').replaceWith(temp_html)
        }


        // 캔들 클릭시 메시지 보기
        function open_message(message_id) {
            // function open_message() { // 테스트 코드
            $('.swiper-container').hide();
            $('.footer').hide()

            console.log("캔들 클릭시 확인" + messageAllData)
            let result = messageAllData.find(m => m['message_id'] === message_id)
            // let result = messageAllData.find(m => m['message_id'] === 5)
            console.log("메시지 결과 확인" + result)
            let temp_html = ` <div id='message-detail' class="message-detail">
                                <p style="font-family: var(--font-point)">FROM. ${result.nickname}</p>
                                <p class="message" style="font-family: var(--font-handwriting)">${result.content}</p>
                                <button class="blue-button" id="update" onclick="password_check(${message_id}, \'update'\)">수정하기</button>
                                <button class="pink-button" id="delete" onclick="password_check(${message_id}, \'delete'\)">삭제하기</button>
                            </div>`

            $('.message-box').html(temp_html);
            $('.message-div').show();
        }

    </script>
</head>
<body>
<div class="root">
    <div class="header">
        <h2><span style="color:var(--color-point-2); font-size: 3.5rem;">{{mainpage_info.user_nickname}}</span>님
            에게
            <br/>
            <span style="color:var(--color-point-2); font-size: 4rem; ">{{message_count}}</span>명의 축하가
            도착했어요!
        </h2>

    </div>

    <div onclick="close_message()" class="rollingpaper-body">
        <div class="message-div">
            <div class="message-box">
            </div>
        </div>
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div onclick="close_message()" class="footer">
        <button class="pink-button"
                onclick="location.href='/message?rolling={{mainpage_info.rolling_id}}&key={{mainpage_info.url}}'">축하하기
        </button>
        <button class="blue-button" onclick="location.href='/sign-up'">나도 만들기</button>
    </div>
</div>
</body>
</html>