<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카드 페이지</title>

    <meta name="viewport" content="width=375px, initial-scale=1.0">
    <script defer src="/static/main_message.js"></script>
    <link rel="stylesheet" href="/static/style_message.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="nav_btn">< 이전으로</div>
    <h2 class="candle_title">캔들색상을 선택하세요🕯</h2>
    <div class="candle_section">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button onclick="sel_candle(red)" id="red" style="background-image: url('/static/img/candle_red.png')" type="button" class="btn btn-outline-primary"></button>
            <button onclick="sel_candle(purple)" id="purple" style="background-image: url('/static/img/candle_purple.png')" type="button" class="btn btn-outline-primary"></button>
            <button onclick="sel_candle(orange)" id="orange" style="background-image: url('/static/img/candle_orange.png')" type="button" class="btn btn-outline-primary"></button>
        </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button onclick="sel_candle(blue)" id="blue" style="background-image: url('/static/img/candle_blue.png')" type="button" class="btn btn-outline-primary"></button>
            <button onclick="sel_candle(mint)" id="mint" style="background-image: url('/static/img/candle_mint.png')" type="button" class="btn btn-outline-primary"></button>
            <button onclick="sel_candle(skyblue)" id="skyblue" style="background-image: url('/static/img/candle_skyblue.png')" type="button" class="btn btn-outline-primary"></button>
        </div>
    </div>
    <h2 class="msg_title">메시지를 남겨주세요</h2>
    <div class="msg_section">
        <textarea type="text"
                id="msg_content" class="msg" type="text" wrap="hard"
                maxlength="140"
                cols="10" rows="3"
                placeholder="&#13;&#10;&#13;&#10;따뜻한 메시지를 남겨주세요!&#13;&#10;&#13;&#10;150자 이내"></textarea>
    </div>

    <form class="submit">
        <input id="msg_name" class="submit_name" type="text" maxlength="9" placeholder="닉네임">
        <input id="msg_pw" class="submit_pw" type="password" maxlength="4" placeholder="비밀번호 4자리">

        <div class="submit_btn_section">
            <button id="submit_btn" onclick="save_msg()" type="button" class="btn btn-outline-warning">작성하기</button>
        </div>
    </form>
</body>
</html>